/*********** HOME ****************/
.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 4;
}
.home__title {
  margin: calc(var(--size-seven) * 0.6) 0;
}
.home__img {
  height: calc(var(--size-eight) * 1.9);
}

/*********** SEARCH PAGE ****************/

/**** Partie supp pour le HOME de la SEARCH PAGE */
.home__trailer {
  font-size: calc(var(--size-five) * 1.3);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--extra-dark-gray);
  margin-bottom: calc(var(--size-seven) * 0.7);
  text-align: center;
}
.important {
  font-weight: 500;
  color: var(--dark-green);
}

/** SEARCH CODE BARRE **/
.search-barcode {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-barcode__label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--size-seven) * 4.4);
  color: var(--purple);
  font-size: calc(var(--size-four) * 1.2);
  font-weight: 500;
}
.search-barcode__input {
  width: 100%;
  height: calc(var(--size-five) * 1.3);
  border-radius: calc(var(--size-four) * 0.9);
  border: solid 3px var(--purple);
  margin-top: var(--size-three);
  padding-left: var(--size-four);
  font-size: calc(var(--size-four) * 1.2);
  font-weight: 700;
  letter-spacing: calc(var(--size-one) * 0.7);
  /* color: rgb(85, 85, 85); */
  color: var(--dark-green);
}
.search-barcode__input:focus {
  outline: none;
  box-shadow: 2px 2px 50px #e7d0f8cb;
}
.search-detailsProduct {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--size-four) 0;
}
.search-detailsProduct__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.search-detailsProduct__label {
  display: flex;
  align-items: center;
  margin-top: var(--size-three);
  font-size: calc(var(--size-four) * 1.2);
  cursor: pointer;
  color: var(--extra-dark-gray);
}
.search-detailsProduct__checkbox {
  height: calc(var(--size-four) * 1.2);
  width: calc(var(--size-four) * 1.2);
  border: 3px solid var(--purple);
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  margin-right: var(--size-three);
  cursor: pointer;
}
.search-detailsProduct__checkbox:checked {
  background-color: var(--purple);
  /* background-color: #9a6dbd; */
}
.form-submit {
  height: var(--size-five);
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 54%;
}
.form-submit svg {
  height: var(--size-five);
  fill: var(--purple);
}
.form-submit svg:hover {
  fill: #9a6dbd;
}

/*********** RESULT PRODUCT SECTION ***********/
.result-section {
  width: 100vw;
  margin-top: var(--size-six);
  background-color: var(--gray);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: var(--size-seven); */
  position: relative;
  /* z-index: -2; */
  padding-bottom: var(--size-seven);
}
.result-section__title {
  margin-top: var(--size-six);
  margin-bottom: var(--size-six);
  /* height: var(--size-four); */
  align-self: center;
  width: min-content;
}
.result-section__title svg {
  height: calc(var(--size-seven) * 1.2);
  width: min-content;
}
.result-section__title svg g {
  width: min-content;
}
.result-section__intro {
  font-size: var(--size-five);
  align-self: center;
  font-weight: 700;
  color: var(--dark-gray);
  text-align: center;
}
.result-section__subtitle {
  color: var(--green);
  text-transform: uppercase;
  font-size: var(--size-six);
  font-weight: lighter;
  margin-bottom: var(--size-three);
}
.result-section__subsection {
  margin-bottom: var(--size-seven);
  padding-left: var(--size-six);
}
.resultName-section__product {
  font-size: var(--size-five);
  color: var(--dark-gray);
  font-weight: 700;
}
/* .result-section-list{
  
} */
.result-section__item {
  font-size: calc(var(--size-five) * 0.8);
  color: var(--dark-gray);
  display: list-item;
  list-style-image: url("assets/icon/Ellipse\ 1.svg");
  margin-bottom: var(--size-three);
}
.result-section-default {
  font-size: calc(var(--size-five) * 0.8);
  color: var(--dark-gray);
}

/************* CLASSIFICATION SECTION ***************/
.result-information {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
  height: 0;
  width: 100%;
}
.result-information-actif {
  height: 500px;
  /* margin-top: var(--size-five); */
  background-color: var(--extra-light-gray);
  padding: var(--size-five) 0;
}
.wave {
  position: absolute;
  top: -65px;
  z-index: -1;
  width: 800px;
}
.result-information-H3-svg {
  height: 80px;
}
.result-classification {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-seven);
}
.result-classification__childrens {
  /* margin: 0 calc(var(--size-eight) * 2); */
  margin-bottom: var(--size-seven);
}
.result-classification p {
  width: var(--size-eight);
}
.result-nutriscore {
  height: calc(var(--size-eight) * 1.1);
  margin-right: 250px;
}
.result-novascore {
  height: calc(var(--size-eight) * 1.1);
}
