:root {
  /* COLOR */
  --white: white;
  --gray: #ececec;
  --light-green: #d1ffae;
  --extra-light-gray: #e1ffca;
  --purple: #c694ec;
  --dark-green: #3e8d01;
  --dark-gray: #a1a1a1;
  /* --extra-dark-gray: #808080; */
  --extra-dark-gray: #707170;
  --green: #a9de81;
  --smoke-white: #f8f8f8;
  --light-purple: #dec0f5;

  /* TEXT SIZE */
  --size-title-form: 30px;
  --size-text-form: 30px;
  --size-h1-text-important: 50px;
  --size-h1-text-normal: 50px;
  --size-muslimAgency: 20px;
  --size-text-p: 40px;
  --size-h3-text: 60px;
  --size-text-logo: 79px;
  --size-text-menu: 19px;
  --size-h2-text: 76px;
  --size-header: 96px;
  --size-limit: 65px;

  /* GENERAL SIZE */
  --size-one: 5px;
  --size-two: 8px;
  --size-three: 13px;
  --size-four: 21px;
  --size-five: 34px;
  --size-six: 55px;
  --size-seven: 89px;
  --size-eight: 144px;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../src/assets/polices/Comfortaa-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100vw;
  min-width: 275px;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa";
  font-weight: lighter;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 275px;
}

/************ HEADER ****************/
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--size-header);
  width: 100vw;
  background-color: var(--green);
  padding-right: var(--size-limit);
  padding-left: var(--size-limit);
  z-index: 4;
}

/*** LOGO ***/
/* .header__logo{
  
} */
.header__img {
  height: calc(var(--size-seven) * 0.8);
  padding-top: var(--size-three);
}

/*** NAV ***/
.nav {
  /* height: 100%; */
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
}
.nav-menu {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--size-four);
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}
.nav__item {
  margin-right: var(--size-five);
}
.nav__link {
  color: var(--white);
  padding: var(--size-two) var(--size-three);
  transition: ease 0.53s;
}
.nav-menu-item-link:hover {
  color: var(--dark-green);
  background-color: var(--white);
  border-radius: 0 calc(var(--size-four) * 1.2) 0 calc(var(--size-four) * 1.2);
  padding: var(--size-two) var(--size-three);
}
.nav-menu-item:last-child {
  margin-right: 0;
}

/*********** HOME ****************/
.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 4;
}
.home__title {
  margin: calc(var(--size-seven) * 0.6) 0;
}
.home__img {
  height: calc(var(--size-eight) * 1.9);
}

/*********** SEARCH PAGE ****************/

/**** Partie supp pour le HOME de la SEARCH PAGE */
.home__trailer {
  font-size: calc(var(--size-five) * 1.3);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--dark-gray);
  margin-bottom: calc(var(--size-seven) * 0.7);
  text-align: center;
}
.important {
  font-weight: 500;
  color: var(--dark-green);
}

/** SEARCH CODE BARRE **/
.search-barcode {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-barcode__label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--size-seven) * 4.4);
  color: var(--purple);
  font-size: calc(var(--size-four) * 1.2);
  font-weight: 500;
}
.search-barcode__input {
  width: 100%;
  height: calc(var(--size-five) * 1.3);
  border-radius: calc(var(--size-four) * 0.9);
  border: solid 3px var(--purple);
  margin-top: var(--size-three);
  padding-left: var(--size-four);
  font-size: calc(var(--size-four) * 1.2);
  font-weight: 700;
  letter-spacing: calc(var(--size-one) * 0.7);
  /* color: rgb(85, 85, 85); */
  color: var(--dark-green);
}
.search-barcode__input:focus {
  outline: none;
  box-shadow: 2px 2px 50px #e7d0f8cb;
}
.search-detailsProduct {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--size-four) 0;
}
.search-detailsProduct__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.search-detailsProduct__label {
  display: flex;
  align-items: center;
  margin-top: var(--size-three);
  font-size: calc(var(--size-four) * 1.2);
  cursor: pointer;
}
.search-detailsProduct-checkbox {
  height: calc(var(--size-four) * 1.2);
  width: calc(var(--size-four) * 1.2);
  border: 3px solid var(--purple);
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  margin-right: var(--size-three);
  cursor: pointer;
}
.search-detailsProduct-checkbox:checked {
  background-color: var(--purple);
  /* background-color: #9a6dbd; */
}
.form-submit {
  height: var(--size-five);
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 54%;
}
.form-submit svg {
  height: var(--size-five);
  fill: var(--purple);
}
.form-submit svg:hover {
  fill: #9a6dbd;
}

/*********** RESULT PRODUCT SECTION ***********/
.result-section {
  width: 100vw;
  margin-top: var(--size-six);
  background-color: var(--gray);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: var(--size-seven); */
  position: relative;
  z-index: -2;
  padding-bottom: var(--size-seven);
}
.result-section-h2 {
  margin-top: var(--size-six);
  margin-bottom: var(--size-six);
  /* height: var(--size-four); */
  align-self: center;
  width: min-content;
}
.result-section-h2 svg {
  height: calc(var(--size-seven) * 1.2);
  width: min-content;
}
.result-section-h2 svg g {
  width: min-content;
}
.result-section__intro {
  font-size: var(--size-five);
  align-self: center;
  font-weight: 700;
  color: var(--dark-gray);
  text-align: center;
}
.result-section-h3 {
  color: var(--green);
  text-transform: uppercase;
  font-size: var(--size-six);
  font-weight: lighter;
  margin-bottom: var(--size-three);
}
.result-section-subsection {
  margin-bottom: var(--size-seven);
  padding-left: var(--size-six);
}
.resultName-section-product {
  font-size: var(--size-five);
  color: var(--dark-gray);
  font-weight: 700;
}
/* .result-section-list{
  
} */
.result-section-list-item {
  font-size: calc(var(--size-five) * 0.8);
  color: var(--dark-gray);
  display: list-item;
  list-style-image: url("assets/icon/Ellipse\ 1.svg");
  margin-bottom: var(--size-three);
}
.result-section-default {
  font-size: calc(var(--size-five) * 0.8);
  color: var(--dark-gray);
}

/************* CLASSIFICATION SECTION ***************/
.result-information {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 0;
  height: 0;
  width: 100%;
}
.result-information-actif {
  height: 500px;
  /* margin-top: var(--size-five); */
  background-color: var(--extra-light-gray);
  padding: var(--size-five) 0;
}
.wave {
  position: absolute;
  top: -65px;
  z-index: -1;
  width: 800px;
}
.result-information-H3-svg {
  height: 80px;
}
.result-classification {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-seven);
}
.result-classification-childrens {
  /* margin: 0 calc(var(--size-eight) * 2); */
  margin-bottom: var(--size-seven);
}
.result-classification p {
  width: var(--size-eight);
}
.result-nutriscore {
  height: calc(var(--size-eight) * 1.1);
  margin-right: 250px;
}
.result-novascore {
  height: calc(var(--size-eight) * 1.1);
}

/**************** FONCTIONNEMENT *********************/

.section-fonctionnement {
  background-color: var(--gray);
  height: 100%;
  width: 100%;
  padding: var(--size-six) var(--size-limit);
}

.fonctionnement-h2 {
  text-transform: uppercase;
  color: var(--dark-green);
  margin-bottom: var(--size-five);
  font-size: calc(var(--size-five) * 0.9);
}

.comment {
  padding-bottom: var(--size-seven);
}
/* .comment-h2{

} */
.comment-textBlock {
  font-size: calc(var(--size-four) * 0.9);
  line-height: calc(var(--size-four) * 1.4);
  color: var(--extra-dark-gray);
  font-weight: 500;
}
.text-important {
  color: var(--dark-green);
  font-weight: 500;
}
.loupe-icon {
  height: var(--size-five);
  fill: var(--purple);
  position: relative;
  top: 10px;
}

/* .resultats{

} */
/* .resultats-h2{

} */

/************* FOOTER ***************/
.footer {
  background-color: var(--light-purple);
  height: calc(var(--size-seven) * 0.8);
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--extra-dark-gray);
}
.brand {
  font-size: calc(var(--size-four) * 1.4);
  margin-left: var(--size-six);
  position: relative;
  padding-top: var(--size-two);
}
.brand__copyright {
  font-size: var(--size-three);
  position: absolute;
}
.agency {
  /* width: min-content; */
  display: inline;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--size-three);
  padding-bottom: var(--size-one);
}

/*************** HAMBURGER MENU ******************/

/*A activer lors de l'activation du menu burger en responsive*/

/* La class darken*/
/* .darken{
  position: absolute;
  height: calc(100vh * 1.1);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  transition: 0.53s ease;
} */
.overlay {
  position: absolute;
  height: calc(100vh * 1.1);
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
  width: 100%;
  transition: z-index 15s ease, background-color 0.53s ease;
}
.darken {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  transition: 2s background-color ease;
}
/*Body*/
.overflow-stop {
  overflow-y: hidden;
}

.nav-menu-burgerIcon {
  position: absolute;
  right: var(--size-one);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* display: none; */
}
.div-menu-burger {
  background-color: var(--green);
  height: calc(100vh * 1.1);
  width: 30%;
  min-width: 263px;
  max-width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: var(--size-five);
  z-index: 5;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(300px);
  transition: 1.33s ease;
}
.arrow-icon {
  cursor: pointer;
  height: calc(var(--size-five) * 1.2);
  width: calc(var(--size-five) * 1.2);
  /* padding-left: var(--size-two); */
  padding-right: var(--size-three);
  align-self: flex-end;
  fill: rgb(238, 236, 236);
}
.nav__burger {
  margin-top: var(--size-five);
  height: 18%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--size-four);
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}
.burger__link {
  color: var(--white);
  padding: var(--size-two) var(--size-three);
  /* padding-left: var(--size-two); */
  /* margin-right: var(--size-four); */
  margin-left: var(--size-two);
  transition: ease 0.53s;
}
.nav-menu-burger-item-link:hover {
  color: var(--dark-green);
  background-color: var(--white);
  border-radius: 0 calc(var(--size-four) * 1.2) 0 calc(var(--size-four) * 1.2);
  padding: var(--size-two) var(--size-three);
}
.burger-icon {
  fill: var(--white);
}
.burger-icon:hover {
  fill: var(--green);
}

/*Item de list*/
.disabled {
  display: none;
}
/*Effet : Apparition du menu*/
.apparation-burgerMenu {
  transform: translateX(0px);
  transition: 1.33s ease;
}

/********** MEDIA QUERIES ****************/

@media screen and (max-width: 900px) {
  .nav-menu {
    display: none;
  }
  .home-h1-img {
    height: calc(var(--size-eight) * 1.3);
  }
  .result-section-sousSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .result-section-sousSection ul {
    text-align: left;
    /* width: 60%; */
  }
  .result-section-sousSection ul {
    padding-left: 30px;
  }
  .result-section-list-item {
    max-width: 400px;
  }

  .center-BP {
    /* Pour les classes de resultats */
    width: 100%;
  }
  .footer {
    flex-flow: column;
    justify-content: center;
  }
  .agence {
    position: static;
  }
  .marque {
    margin-left: 0;
  }
}

@media screen and (max-width: 790px) {
  .wave {
    width: 100%;
    top: -7%;
  }
}

@media screen and (max-width: 660px) {
  .result-section {
    padding-left: 0;
  }
  .result-section-h2 svg {
    width: calc(var(--size-eight) * 2.3);
  }
  .resultName-section-product {
    font-size: calc(var(--size-four) * 1.3);
  }
  .result-section-h3 {
    font-size: var(--size-five);
  }
  .result-classification {
    flex-flow: column;
  }
  .result-classification-childrens {
    margin-bottom: 0;
  }
  .result-information-H3-svg {
    width: calc(var(--size-eight) * 2.7);
  }
  .result-classification {
    margin-top: var(--size-five);
    margin-bottom: var(--size-five);
  }
  .result-nutriscore {
    height: calc(var(--size-eight) * 1);
    margin: var(--size-four) 0;
  }
  .result-novascore {
    height: calc(var(--size-eight) * 1);
    /* padding-bottom: var(--size-); */
  }
  .footer {
    position: static;
  }
}

@media screen and (max-width: 580px) {
  .home__img {
    height: calc(var(--size-eight) * 0.8);
  }
  .home__trailer {
    font-size: var(--size-five);
  }
  .search-detailsProduct__label {
    font-size: calc(var(--size-four) * 0.9);
  }
  .result-section-h2 svg {
    width: calc(var(--size-eight) * 2);
  }
  /* .result-information-H3 img{
    width: calc(var(--size-eight) * 2);
  } */
  .result-information-H3-svg {
    width: calc(var(--size-eight) * 2.3);
  }
  .result-section-sousSection {
    /* margin-left: var(--size-three); */
    margin-left: 0;
  }
  .resultName-section-product {
    width: 100%;
    font-size: calc(var(--size-four) * 1.3);
    padding: 0 var(--size-two);
    /* word-wrap: normal; */
    /* overflow-wrap: break-word; */
  }
  .result-nutriscore {
    height: calc(var(--size-eight) * 0.8);
    margin: var(--size-four) 0;
  }
  .result-novascore {
    height: calc(var(--size-eight) * 0.8);
  }
}

@media screen and (max-width: 430px) {
  .search-barcode__input {
    width: calc(var(--size-eight) * 2);
    font-size: var(--size-four);
  }
  .form-submit {
    right: 15px;
  }
  .home__trailer {
    font-size: var(--size-five);
    width: min-content;
  }
  #form {
    width: min-content;
  }
  .search-barcode {
    width: min-content;
  }
  .search-barcode__label {
    width: min-content;
  }
  .result-section-sousSection ul {
    padding-left: calc(var(--size-five) * 1.5);
  }
}

@media screen and (max-width: 390px) {
  .resultName-section-product {
    font-size: var(--size-four);
  }
  .result-section-list-item {
    font-size: var(--size-four);
  }
  .result-section-default {
    font-size: var(--size-four);
  }
  .result-information {
    padding-bottom: 0;
  }
  .wave {
    width: 100%;
    top: -5%;
  }
  .result-nutriscore {
    height: calc(var(--size-eight) * 0.6);
  }
  .result-novascore {
    height: calc(var(--size-eight) * 0.6);
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 var(--size-two);
  }
  .home__img {
    height: calc(var(--size-eight) * 0.7);
  }
  .home__trailer {
    font-size: calc(var(--size-five) * 0.8);
  }
  .result-section-h2 svg {
    width: calc(var(--size-eight) * 1.8);
    /* height: 200px; */
  }
  .search-barcode__input {
    width: calc(var(--size-eight) * 1.8);
    font-size: calc(var(--size-four) * 0.9);
  }
  .form-submit {
    right: 10px;
  }
  .result-section__intro {
    font-size: calc(var(--size-five) * 0.8);
  }
  .result-information-H3-svg {
    width: calc(var(--size-eight) * 1.8);
  }
}

@media screen and (min-width: 900px) {
  .nav-menu-burgerIcon {
    display: none;
  }
}
